<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/index.css') }}">
<script src="{{url_for('static', filename='js/index.js')}}"></script>
<title>
    Data Service
</title>
<div class="container">
  <form id="contact" onsubmit="print_success()" action="" method="post">
    <h3>Enter the Data</h3>
      <fieldset>
          Choose Topic
            <select name="topic">
            {% for topic in topics %}
              <option>{{ topic }}</option>
            {% endfor %}
          </select>
    </fieldset>
    <fieldset>
        Enter Data:
      <input name="task" placeholder="Data" type="text" tabindex="1" required autofocus>
    </fieldset>
    <fieldset>
      <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
    </fieldset>
  </form>
</div>